local:
  enable: {{ is_local }}
  network: {{ network }}

orderer:
  domain: sample.net

orgs:
  {%- for i in range(org_num) %}
  - name: org{{i}}
    domain: org{{i}}.com
    peers:
      - name: peer0
    users: 1
  {%- endfor %}

