# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

volumes:
  {{ peer }}.{{ org }}.{{ domain }}:

networks:
  default:
    name: {{ domain }}

services:

  {{ peer }}.{{ org }}.{{ domain }}:
    container_name: {{ peer }}.{{ org }}.{{ domain }}
    image: hyperledger/fabric-peer
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE={{ domain }}_test
      - FABRIC_LOGGING_SPEC=DEBUG
      #- FABRIC_LOGGING_SPEC=DEBUG
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_GOSSIP_USELEADERELECTION=true
      - CORE_PEER_GOSSIP_ORGLEADER=false
      - CORE_PEER_PROFILE_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
      # Peer specific variabes
      - CORE_PEER_ID={{ peer }}.{{ org }}.{{ domain }}
      - CORE_PEER_ADDRESS={{ peer }}.{{ org }}.{{ domain }}:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS={{ peer }}.{{ org }}.{{ domain }}:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_BOOTSTRAP={{ peer }}.{{ org }}.{{ domain }}:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT={{ peer }}.{{ org }}.{{ domain }}:7051
      - CORE_PEER_LOCALMSPID={{ org }}
    volumes:
        - /var/run/:/host/var/run/
        - /home/x/dev/fabric-orderer/organizations/peerOrganizations/{{ org }}.{{ domain }}/peers/{{ peer }}.{{ org }}.{{ domain }}/msp:/etc/hyperledger/fabric/msp
        - /home/x/dev/fabric-orderer/organizations/peerOrganizations/{{ org }}.{{ domain }}/peers/{{ peer }}.{{ org }}.{{ domain }}/tls:/etc/hyperledger/fabric/tls
        - {{ peer }}.{{ org }}.{{ domain }}:/var/hyperledger/production
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    ports:
      - 7051:7051

  cli:
    container_name: cli
    image: hyperledger/fabric-tools
    tty: true
    stdin_open: true
    environment:
      - GOPATH=/opt/gopath
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - FABRIC_LOGGING_SPEC=INFO
      #- FABRIC_LOGGING_SPEC=DEBUG
      - FABRIC_CFG_PATH=/opt/gopath/src/github.com/hyperledger/fabric/peer/conf
      - CORE_PEER_ID=cli
      - CORE_PEER_ADDRESS={{ peer }}.{{ org }}.{{ domain }}:7051
      - CORE_PEER_LOCALMSPID={{ org }}
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/organizations/peerOrganizations/{{ org }}.{{ domain }}/peers/{{ peer }}.{{ org }}.{{ domain }}/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/organizations/peerOrganizations/{{ org }}.{{ domain }}/peers/{{ peer }}.{{ org }}.{{ domain }}/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/organizations/peerOrganizations/{{ org }}.{{ domain }}/peers/{{ peer }}.{{ org }}.{{ domain }}/tls/ca.crt
      - CORE_PEER_MSPCONFIGPATH=/opt/gopath/src/github.com/hyperledger/fabric/peer/organizations/peerOrganizations/{{ org }}.{{ domain }}/users/Admin@{{ org }}.{{ domain }}/msp
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: /bin/bash
    volumes:
        - /var/run/:/host/var/run/
        #- ../../chaincode/:/opt/gopath/src/github.com/chaincode
        - /home/x/dev/fabric-orderer/organizations:/opt/gopath/src/github.com/hyperledger/fabric/peer/organizations
        - /home/x/dev/fabric-orderer/scripts:/opt/gopath/src/github.com/hyperledger/fabric/peer/scripts/
        - /home/x/dev/fabric-orderer/conf:/opt/gopath/src/github.com/hyperledger/fabric/peer/conf/
        - /home/x/dev/fabric-orderer/applicant:/opt/gopath/src/github.com/hyperledger/fabric/peer/applicant/
        - /home/x/dev/fabric-orderer/chaincodes:/opt/gopath/src/github.com/hyperledger/fabric/peer/chaincodes/
        - /home/x/dev/fabric-orderer/cache:/opt/gopath/src/github.com/hyperledger/fabric/peer/cache/
    depends_on:
      - {{ peer }}.{{ org }}.{{ domain }}

